<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    <main>
        <section>
            <p>Welcome to my portfolio website! I am Teja, I am a passionate web developer in various technologies.</p>
        </section>
        <section>
            <h2>Biography</h2>
            <p>This is my biography.</p>
        </section>
        <section>
            <h2>Education</h2>
            <p>This is about my education.</p>
        </section>
        <section>
            <h2>Skills</h2>
            <p>These are my skills..</p>
        </section>
    </main>
    <footer>
        <p>Contact me at teja@example.com</p>
    </footer>
</body>
</html>
